// Base Styles

*
  box-sizing: border-box

body
    text-rendering optimizeLegibility

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2
