/*

 SoundManager 2: In-page MP3 player example
 ------------------------------------------

 Clicks on links to MP3s are intercepted via JS, calls are
 made to SoundManager to load/play sounds. CSS classes are
 appended to the link, which are used to highlight the
 current play state and so on.

 Class names are applied in addition to "sm2_link" base.

 Default:

 sm2_link

 Additional states:

 sm2_playing
 sm2_paused

 eg.

 <!-- default -->
 <a href="some.mp3" class="sm2_link">some.mp3</a>

 <!-- playing -->
 <a href="some.mp3" class="sm2_link sm2_playing">some.mp3</a>


 Note you don't require ul.graphic / ul.flat etc. for your use
 if only using one style on a page. You can just use .sm2_link{}
 and so on, but isolate the CSS you want.

 Side note: Would do multiple class definitions eg.

 a.sm2_default.sm2_playing{}

 .. except IE 6 has a parsing bug which may break behaviour,
 applying sm2_playing {} even when the class is set to sm2_default.


 If you want to make your own UI from scratch, here is the base:

 Default + hover state, "click to play":

 a.sm2_link {}
 a.sm2_link:hover {}

 Playing + hover state, "click to pause":

 a.sm2_playing {}
 a.sm2_playing:hover {}

 Paused + hover state, "click to resume":

 a.sm2_paused {}
 a.sm2_paused:hover {}


*/

image_dir = "../images"

ul
  &.graphic
    list-style-type none
    padding-left 0px
    margin-left 0px
    list-style-type none
    margin 0px
    padding 0px
    li
      margin-bottom 2px
      padding-bottom 1px
      a
        &.sm2_link
          -webkit-transition-property hover
          -webkit-transition background-color 0.15s linear
          -moz-transition background-color 0.15s linear 0s
          -o-transition-property background-color
          -o-transition-duration 0.15s
          display inline-block
          padding-left 22px
          min-height 16px
          vertical-align middle
          border-radius 3px
          padding 3px 3px 3px 25px
          min-width 19em
          _width 19em
          text-decoration none
          font-weight normal
          color #f6f9ff
          background #369 url(image_dir/icon_play.png) no-repeat 3px 50%
          _background-image url(image_dir/icon_play.gif)
          &:hover
            background-color #036
          &.sm2_playing
            background #036 url(image_dir/icon_pause.png) no-repeat 3px 50%
            _background-image url(image_dir/icon_pause.gif)
            text-decoration none
          &.sm2_paused
            background-color #999

ul.graphic li a.sm2_playing,
ul.graphic li a.sm2_paused,
ul.graphic li a:hover
  color #fff


body #sm2-container object,
body #sm2-container embed
  left -9999em
  top -9999em