// Layout

.layout-container
    width 940px

.layout-centered
    margin 0 auto

.layout-left
    float left

.layout-right
    float right

.layout-to-left
    left auto
    right 0

.layout-to-right
    right auto
    left 0
