// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

//@import '_states'
//@import '_layout'
//@import '_responsive'
@import 'player'

#content
  padding: 2em

#track-list
    padding: 2em

    .track
        margin: 1em 0
        background-color: #eee
        color: #444
        margin: 0px 10px
        padding: 10px
        border:1px solid #aaa
        border-radius: 4px

        &:hover
            background-color: #ddd
            color: #fff

        .title
            margin: 0px 10px
            font-weight: bold

