// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import 'responsive'

// Base Styles
*
  box-sizing: border-box

body
    text-rendering optimizeLegibility

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

@import 'player'

body
    background-color: #900
    overflow-x: hidden

.uploader
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 49px

    background-color: #444
    color: white
    padding: 5px
    transition: all 1.5s ease
    font-weight: bold
    overflow: ellipsis
    cursor:pointer

    &.dragover
        background-color: #f00

    table
        width: 100%

    #h1
        text-align: left
        font-size: 1.8em
    #h2
        text-align: right
        font-size: 1.2em

#content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: white
    min-height: 200px

    #tracks-display
        .viewport
            display: block
            padding: 0 10px
            position: absolute
            top: 49px
            left: 0
            right: 0
            bottom: 49px

        table
            width: 100%
            border:1px solid #aaa
            table-layout: fixed
            .field
                text-align: left
                font-weight: bold
                overflow: ellipsis
            .left
                width: 60px
            .right
                width: 30px
            .title
                min-width: 200px

            thead
                color: #f00
                border:1px solid #aaa
                th
                    &.field
                        cursor: pointer

                        .sortArrow
                            display: inline-block
                            margin-left: 10px
                            padding: 5px
                            width: 14px
                            height: 14px
                            background-image: url("../images/glyphicons-halflings.png")
                            &:hover
                                background-image: url("../images/glyphicons-halflings-red.png")
                            &.up
                                background-position: -287px -119px
                            &.down
                                background-position: -312px -118px

            tbody
                tr.track
                    background-color: white
                    color: #444
                    height: 30px
                    transition: all 0.3s ease

                    &.odd
                        background-color: #f3f3f3


                    &.selected
                        background-color: #c8c8c8

                    &:hover
                        background-color: #444
                        color: white
                        .button
                            display: inline-block
                        .uploadProgress
                            color: white

                    .button
                        display: none

                    .right,
                    .left
                        text-align: center

                    .field
                        font-size: 0.8em

                        .info
                            display: none

                        &:hover .info
                            display: block
                            position: absolute
                            background-color: #666
                            color: white
                            padding: 5px

                    .uploadProgress
                        color: red
                        font-weight: bold
                        font-size: 0.8em
                        display: block
                        animation-name: dropText
                        animation-duration: 0.1s
                        animation-iteration-count: 1

@keyframes dropText
    from{transform:scale(1.3);}
    to{transform:scale(1);}