.player-element
    #rwd-button.player-button.size-26(title="play previous track")
        i.icon-backward
    #play-button.player-button.size-34(title="play/pause")
        i.icon-cogs
    #fwd-button.player-button.size-26(title="play next track")
        i.icon-forward
.player-element
    .progress-side
        .progress-side-control#loop-button
            i.icon-retweet
        .time.left
            span#elapsedTime
    .progress-info
        .id3-info -
        .progress
            .inner
    .progress-side
        .progress-side-control#random-button
            i.icon-random
        .time.right
            span#remainingTime
.player-element
    span#volume