.player-element
    .button.rwd
    .button.play.loading
    .button.fwd
.player-element
    .time.left
        span#elapsedTime
    .progress
        .inner
    .time.right
        span#remainingTime
.player-element
    span#volume