.player-element
    .button.rwd(title="play previous track")
    .button.play.loading(title="play/pause")
    .button.fwd(title="play next track")
.player-element
    .progress-side
        .list-control.loop
        .time.left
            span#elapsedTime
    .progress-info
        .id3-info -
        .progress
            .inner
    .progress-side
        .list-control.random
        .time.right
            span#remainingTime
.player-element
    span#volume