#content
  h1 CoZic
  h2 Put music in your Cozy

  ul.graphic
    li
      a(href="music/Air France - Joris Delacroix.mp3") Joris
    li
      a(href="music/COMA - Hoooooray.mp3") Coma
    li
      a(href="music/Rone - Bye Bye Macadam.mp3") Rone

  #player