#content
  h1 Cozy template
  h2 Welcome
  ul
    li 
      a(href="https://github.com/mycozycloud/cozy-setup/wiki") Documentation
    li 
        a(href="https://github.com/mycozycloud/cozy-setup/wiki/Getting-started")
          | Getting Started
    li 
      a(href="https://github.com/mycozycloud") Github
