.off-screen-nav-toggle
    .off-screen-nav-toggle-handler
        .off-screen-nav-toggle-arrow

.off-screen-nav-content
    .off-screen-nav-title Content
    ul
        li My Songs
        li Play Queue
        li ma liste de courses
        li quand je cours nu dans mon appart
        li jogging