.off-screen-nav-toggle
    .off-screen-nav-toggle-handler
        .off-screen-nav-toggle-arrow

.off-screen-nav-content
    .off-screen-nav-title Content
    ul
        a(href="#")
            li My Songs
        a(href="#playlist/playqueue")
            li Play Queue

    .off-screen-nav-title Playlists
    ul
        li not available yet
