div.viewport
    table
        thead
            tr
                th.left
                    .thead-button.save-button(title="save as playlist")
                    .thead-button.show-prev-button(title="show/hide previous tracks")
                th.field.title Title
                th.field.artist Artist
                th.field.album Album
                th.field.num #
                th.right
                    .thead-button.clear(title="clear the queue")
        tbody#track-list