div.viewport
    table
        thead
            tr
                th.left
                    .thead-button.save-button(title="save as playlist")
                    .thead-button.show-prev-button(title="show/hide previous tracks")
                th.field Title
                th.field Artist
                th.field Album
                th.field #
                th.right
        tbody#track-list