a(href="#playlist/#{model.id}").home
    li #{model.title}
        .off-screen-nav-button.select-playlist-button(title="select playlist : track will be added to this playlist when clicking on the + button")
        .off-screen-nav-button.delete-playlist-button(title="delete playlist definitively")