a(href="#", title="go to your songs")
    #top-nav-title-home.top-nav-title
        span.top-nav-text COZIC&nbsp;
        i.icon-home
a(href="#playqueue", title="go to the play queue")
    #top-nav-title-list.top-nav-title
        span.top-nav-text Up Next&nbsp;
        i.icon-list
#upload-form.top-nav-title(title="click to add tracks")
    span.top-nav-text Upload&nbsp;
    i.icon-cloud-upload
#youtube-import.top-nav-title(title="import sounds from Youtube")
    span.top-nav-text Youtube&nbsp;
    i.icon-youtube