input#uploader(type="file")

table
    thead
        tr
            th.left
            th.field.title Title
            th.field Artist
            th.field Album
            th.field.num #
            th.right
    tbody#track-list