div.viewport
    table
        thead
            tr
                th.left
                th.field.title.clickable-cell Title
                th.field.artist.clickable-cell Artist
                th.field.album.clickable-cell Album
                th.field.num #
                th.right
        tbody#track-list