div.viewport
    table
        thead
            tr
                th.left
                th.field.title(title="sort by title").clickable-cell Title
                th.field.artist(title="sort by artist").clickable-cell Artist
                th.field.album(title="sort by album").clickable-cell Album
                th.field.num #
                th.right
        tbody#track-list