div.viewport
    table
        thead
            tr
                th.left
                th.field.title(title="sort by title") Title
                th.field.artist(title="sort by artist") Artist
                th.field.album(title="sort by album") Album
                th.field.num #
                th.right
        tbody#track-list