div#scrollbar1
    div.viewport
        div.overview
            table
                thead
                    tr
                        th.left
                        th.field.title Title
                        th.field.artist Artist
                        th.field.album Album
                        th.field.num #
                        th.right
                tbody#track-list

    .scrollbar
        .track
            .thumb