a(href="#", title="go to your songs")
    #header-nav-title-home.header-nav-title
        span.header-nav-text COZIC&nbsp;
        i.icon-home
a(href="#playqueue", title="go to the play queue")
    #header-nav-title-list.header-nav-title
        span.header-nav-text Up Next&nbsp;
        i.icon-list
#upload-form.header-nav-title(title="click to add tracks")
    span.header-nav-text Upload&nbsp;
    i.icon-cloud-upload
#youtube-import.header-nav-title(title="import sounds from Youtube")
    span.header-nav-text Youtube&nbsp;
    i.icon-youtube